<div *ngIf="doors.length == 0" class="loading-indicator"><mat-spinner></mat-spinner></div>
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="50%" fxFlex="100" *ngFor="let door of doors">
        <mat-card>
            <a routerLink="/doors/{{door.id}}">
              <mat-card-header>
                  <mat-card-title class="text-muted">{{door.name}}</mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{imgUrl}}/doors/models/{{door.model_path}}" alt="{{door.a_key}}">
            </a>
            <mat-card-content>
                <p>
                </p>
                <mat-card-actions>
                    <a routerLink="/doors/{{door.id}}" mat-raised-button color="accent">{{'doors.button.details' | translate}}</a>
                    {{'doors.price.from' | translate}} {{door.price}}₽
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>